<h2 class= "title">個人資料</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
      <%= f.label :username, '使用者帳戶' %><br />
      <div class="control">
      <%= f.text_field :username, class: 'textfield is-medium' %>
      </div>
      <p class="help ">範例:@sheng87</p>
  </div>

  <div class="field">
      <%= f.label :avatar, '大頭貼' %><br />
      <div class="control">
      <%= f.file_field :avatar %>
      </div>

       <%= avatar (current_user) %>
  </div>

 

   <div class="field">
      <%= f.label :intro, '個人簡介' %><br />
      <div class="control">
      <%= f.text_area :intro, class: 'textarea is-medium' , rows: 5  %>
      </div>
  </div>

  <div class="field">
    <%= f.label :email %><br />
     <%= f.email_field :email, autocomplete: "email",class: 'input is-medium' %>
    <div class="control">
    <div>
   
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, '密碼' %> <i></i><br />
    <%= f.password_field :password, autocomplete: "new-password" , class: 'input is-medium' %>
    <% if @minimum_password_length %>
      <br />
      <em><% @minimum_password_length %> </em>
      <p class="help is-danger">密碼至少6位數</p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '密碼確認' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-medium' %>
  </div>


  <div class="actions">
    <%= f.submit "Update" , class: 'button is-medium is-primary'%>
  </div>
<% end %>





<%= link_to "Back", :back %>
