<%if story.errors.any?%>
<div class="notification is-danger">
    <%= story.errors.full_messages.to_sentence %>
</div>
<% end%>
<%= form_for(story, html: {class: 'story-editor'}) do |form| %>
    <div class="field">
        <%= image_tag story.cover_image , class: 'cover-image' if story.cover_image.attached?  %>
        <%= form.label :cover_image, '封面圖' %>
        <%= form.file_field :cover_image %>
        
    </div>

    <div class="field">
        <%= form.label :title, '標題' %>
        <%= form.text_field :title, class: 'input is-primary is-medium' %>
    </div>

    <div class="field">
        <%= form.label :content, '內容' %>
        <%= form.text_area :content, rows: 10, class: 'textarea is-primary is-medium' %>
    </div>

    <div class="field">
    <% if story.published? %>
        <%= form.submit '更新文章',name: 'save_as_draft', class: 'button is-medium' %>
    <% else  %>
        <%= form.submit '儲存草稿',name: 'save_as_draft', class: 'button is-medium' %>  
    <% end %>       
        <%= form.submit '發佈文章',name: 'publish', class: 'button is-medium is-info' if story.may_publish? %>
        <%= form.submit '文章下架',name: 'unpublish', class: 'button is-medium is-danger' if story.may_unpublish? %>
    </div>
<% end %>  

<%= javascript_pack_tag 'editor' %>